h1 {
    color:rgb(114, 82, 145)
}
.wrapper {
    height: 80vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}


.flex {
    width: 150px;
    height: 150px;
}

.input {
    padding: 10px;
    margin: 10px;
    border: solid 1px skyblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.input:hover {
    box-shadow: 0px 0px 10px darkblue;
}

.input:active {
    box-shadow: 0px 0px 10px darkblue;
    /* border: solid 0px darkblue;  */
}